.layout {
    background-color: #F0F2F5;
    max-width: 1500px;
    height: calc(100vh - 8px);
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: -8px;
   
}